affine==2.1.0
amqp==2.2.2
billiard==3.5.0.3
boto3==1.7.33
botocore==1.10.33
celery==4.1.0
certifi==2018.1.18
chardet==3.0.4
click==6.7
click-plugins==1.0.3
cligj==0.4.0
cycler==0.10.0
descartes==1.1.0
docutils==0.14
Fiona==1.7.11.post1
Flask==1.0.2
GDAL==2.2.3
geopandas==0.3.0
idna==2.6
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.3
kiwisolver==1.0.1
kml2geojson==4.0.2
kombu==4.1.0
MarkupSafe==1.0
matplotlib==2.1.0
munch==2.2.0
numexpr==2.6.4
numpy==1.14.2
pandas==0.22.0
pymongo==3.6.1
pyparsing==2.2.0
pyproj==1.9.5.1
python-dateutil==2.6.1
pytz==2018.3
rasterio==0.36.0
requests==2.18.4
s3transfer==0.1.13
Shapely==1.6.4.post1
simpledbf==0.2.6
six==1.11.0
snuggs==1.4.1
tables==3.4.2
urllib3==1.26.5
vine==1.1.4
Werkzeug==0.14.1
